body {
    background: url("../images/kenmare.jpg") repeat center center scroll;
    background-size: cover;
    height: 100vh;
}

.text-center {
    margin-top: 20px;
}

.navbar-toggler {
    border: 0;
}

.card-deck {
    margin: 12px;
}

.card-text {
    margin-bottom: 17px;    
}

.nav-text, .fa-car-alt {
    color: black;
    padding-top: 10px;
    margin-right: 5px;
}

.fa-car-alt {
    padding-left: 20px;
    margin-bottom: 5px;
}

.fa-car-side, .fa-thumbs-up {
    padding-left: 20px;
    padding-top: 20px;
}

.card-body {
    padding-top: 15px;
    padding-bottom: 5px;
}

.lift-details {
    margin-right: 10px;
}

.form-group {
    margin-bottom: 0;
    padding-bottom: 0;
}

.form-control{
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {    
    width: 100%;
    padding-bottom: 0;
}

.btn {
    margin-top: 15px;
}

.details {
    margin-bottom: 10px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 576px) {

.card-deck, .card-title {
    font-size: 15px
}

}

@media only screen and (max-width: 768px) {

.fa-car-alt {
    padding-left: 0px;
}

}