@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    background: url("../images/kenmare.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Quicksand:700', sans-serif;
}

.offer-or-request {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: black;    
}

a:hover {
    text-decoration: none;
    color: slategrey;
}

.text-center {
    margin-top: 20px;
}

.navbar-toggler {
    border: 0;
}

.card-deck {
    margin: 12px;
}

.card-text {
    margin-bottom: 17px;    
}

.nav-text, .fa-car-alt {
    color: black;
    padding-top: 10px;
    margin-right: 5px;
}

.fa-car-alt {
    padding-left: 20px;
    margin-bottom: 5px;
}

.fa-car-side, .fa-thumbs-up {
    padding-left: 20px;
    padding-top: 20px;
}

.card-body {
    padding-top: 15px;
    padding-bottom: 5px;
}

.lift-details {
    margin-right: 10px;
}

.form-group {
    margin-bottom: 0;
    padding-bottom: 0;
}

.form-control{
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {    
    width: 100%;
    padding-bottom: 0;
    resize: none;
}

.btn {
    margin-top: 13px;
}

.details {
    margin-bottom: 10px;
}

#reply {
    margin-top: 14px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 15px; /* Increase font size */
}

#myBtn:hover {
  background-color:slategrey; /* Add a dark-grey background on hover */
}

/* MEDIA QUERIES */

@media only screen and (max-width: 576px) {

.card-deck, .card-title {
    font-size: 15px
}

}

@media only screen and (max-width: 768px) {

.fa-car-alt {
    padding-left: 0px;
}

}