body {
    background: url("../images/road.jpg") no-repeat center center scroll;
    background-size: cover;
    height: 100vh;
}

.card-deck {
    margin: 12px;
}

.nav-text, .fa-car-alt {
    color: black;
    padding-top: 10px;
    margin-right: 5px;
}