{% extends 'base.html' %}
{% block content %}
<form action="{{ url_for('list_lift') }}" method="POST">
	<div class="form-group">
		<select name="offer_or_request" id="offer_or_request" class="form-control">
            <option disabled selected>Offer or request?</option>
            <option>Offer a lift</option>
            <option>Request a lift</option>
        </select>
		<select name="locations_start_name" id="locations_start_name" class="form-control">
            <option value="" disabled selected>Where from?</option>
            {% for location in whereTo %}
            <option value="{{location.locations_name}}">{{location.locations_name}}</option>
            {% endfor %}
        </select>
		
        <select name="locations_end_name" id="locations_end_name" class="form-control">
            <option value="" disabled selected>Where to?</option>
            {% for location in whereFrom %}
            <option value="{{location.locations_name}}">{{location.locations_name}}</option>
            {% endfor %}
        </select>
		<textarea placeholder="Please enter your journey details" name="journey_details" id="journey_details" cols="30" rows="10"></textarea>
	</div>
	<div class="input-append date form_datetime" data-date="2013-02-21T15:25:00Z">
		<i class="fas fa-calendar-alt"></i>
        <input placeholder= "Select date and time" size="16" type="text" value="" readonly>
		<span class="add-on"><i class="icon-remove"></i></span>
		<span class="add-on"><i class="icon-calendar"></i></span>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>

</form>
{% endblock %}