{% extends 'base.html' %}
{% block content %}
<form action="">
	<div class="form-group">
		<select class="form-control">
            <option>Offer or request?</option>
            <option>Offer a lift</option>
            <option>Request a lift</option>
        </select>
        <select class="form-control">
            <option>Where from?</option>
        </select>
        <select class="form-control">
            <option>Where to?</option>
        </select>
        <textarea placeholder="Please enter your journey details" name="" id="" cols="30" rows="10"></textarea>
	</div>
</form>
{% endblock %}