{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">LATEST LIFTS</h1>
<div class="row">
	{% for lift in lifts %}
	<div class="col-lg-4">
		<div class="card-deck">
			<div class="card">
                <!-- Different icons for offer or request a lift -->
				{% if lift.offer_or_request == "Offer a lift" %}
				    <i class="fas fa-car-side"><span class="offer-or-request">   {{lift.offer_or_request}}</span></i>
				{% else %}
				    <i class="fas fa-thumbs-up"><span class="offer-or-request">   {{lift.offer_or_request}}</span></i>
				{% endif %}
				<div class="card-body">
					<div class="card-title">
                        <!-- Shows date of travel, start location and end location -->
						<span><strong>When: </strong>{{lift.date_of_travel}}</span><br>
						<span><strong>From: </strong>{{lift.locations_start_name}}</span><br>
                        <span><strong>To: </strong>{{lift.locations_end_name}}</span>
					</div>
					<hr>
                    <!-- Show/hide toggle and arrow indicator for journey details -->
					<div class="details">
						<span class="details-show-hide" onclick="detailsFunction(this.children[0], {{ loop.index }})">
                            <strong>Show journey details <i class="fas fa-caret-down"></i></strong>
                        </span>
					</div>
					<div class="card-body-details" id="details-for-{{ loop.index }}">
						<div class="journey-details">{{lift.journey_details}}</div>
					</div>
                    <!-- Reply, edit and delete buttons -->
					<button id="reply-button"><a href="{{url_for('reply_to', lift_id=lift._id)}}">Reply</a></button>
					<button id="edit-button"><a href="{{url_for('edit_lift', lift_id=lift._id)}}">Edit</a></button>
					<button id="delete-button" ><a href="{{url_for('delete_lift', lift_id=lift._id)}}">Delete</a></button>
				</div>
                <!-- Show/hide toggle and arrow indicator for replies -->
				<div class="replies">
					<span class="replies-show-hide" onclick="replyFunction(this.children[0], {{ loop.index }})">
                        <strong>Show/hide replies <i class="fas fa-caret-down"></i></strong>
                    </span>
				</div>
				<div class="card-body-replies" id="replies-for-{{ loop.index }}">
					{% for comment in lift.comments %}
					<div>
						<span>
                            <p class="reply-details"><strong>Posted at </strong>{{comment.posted}}<br>{{comment.text}}</p>
                        </span>
						<hr>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
    <!-- Back to top button -->
	<button id="myBtn" title="Go to top">Back to top<br></button>
</div>
<script src="static/js/script.js" type="text/javascript">
</script>
{% endblock %}